@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,200&display=swap');

/*Los colores que le pertenece a cada tipo de pokemon */
:root{
    --color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;
/*color primario de la app*/
	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}



*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*estilo de letra*/
    font-family: 'Montserrat';
}

/*Global  o utiliti*/ 

.container{
    
    max-width: 1200px;
    margin: 0 auto;
    /*para centrar*/

}

/* header */

header{
    /*estilos del header*/
    display: flex; /**/
    align-items: center; /*para centrar verticalmente*/
    justify-content: space-between;  /*para dar un espacio total entre los elementos */

    padding: 40px 0 ; /*para dar espacio */
  
    
}

/*para reducir la imagen o la url de la imagen */
.logo img{
    width: 150px;


}

/*estilos al formulario */

header form{
    display: flex ;
    align-items: center;
    gap: 15px; /*separacion entre los elementos*/

}

.form-group{
    display: flex;
    align-items: center;
    gap: 10px;    
    border: 1px solid #555;
    padding:  15px 20px;
    border-radius: 25px;
}



/*borrar estilos del input---lo que tiene por dentro por defecto---*/


.form-group input{
    font-family: inherit; 
    width:300px;
    border: none;
    outline: none;
    font-size: 15px;


}
.icon-search{
    width: 20px;
    height: 20px;
    stroke: #555;

}

.btn-search{
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: inherit;
    padding: 15px 30px;
    background-color: var(--color-primary);
    color: #fff;



}
.btn-search:hover{
    background-color: var(--color-primary-hover);
    color: #000;

}

/*btn-filter*/

.container-filter{
    display: flex;

}

.icon-filter{
    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 20px;
    cursor: pointer;


}

.icon-filter .icon{

    width: 30px;
    height: 30px;
    stroke: #555;

}


/*card list pokemon */

.card-list-pokemon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /*establece las columnas y las fracciones*/
    gap: 20px;

}
.card-pokemon{
    cursor: pointer;
    text-decoration: none;

}

.card-img{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 250px;

}

.card-img img{
    width: 100%;
    height: 100%;

}


.card-info{
    padding: 15px;

}
.card-info h3{
    color: #333;

}

.pokemon-id{
    display: block;
    color: #888;
    margin-bottom: 15px;

}
.card-types{
    display: flex;
    gap: 10px;
    margin-top: 10px;



}

.card-types span{
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;

}

/*types de pokemon*/

.grass{
    background-color: var(--color-grass);

}

.fire{
    background-color: var(--color-fire);
}

.steel{
    background-color: var(--color-steel);
}

.water{
    background-color: var(--color-water);
}

.psychic{
    background-color: var(--color-psychic);
}

.ground{
    background-color: var(--color-ground);
}

.ice{
    background-color: var(--color-ice);
}

.flying{
    background-color: var(--color-flying);
}

.ghost{
    background-color: var(--color-ghost);
}

.normal{
    background-color: var(--color-normal);
}

.poison{
    background-color: var(--color-poison);
}

.rock{
    background-color: var(--color-rock);
}

.fighting{

    background-color: var(--color-fighting);
}

.dark{
    background-color: var(--color-dark);
}

.bug{
    background-color: var(--color-bug);
}

.dragon{
    background-color: var(--color-dragon);
}

.electric{
    background-color: var(--color-electric);
}

.fairy{
    background-color: var(--color-fairy);
}

.shadow{
    background-color: var(--color-shadow);
}

.unknow{
    background-color: var(--color-unknow);
}

/*container filter */


.container-filters{
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
 /* k  left: -300px;  */
    width: 250px;


    color: #555;
    background-color: #f2f2f2;
    height: 100%;
    padding-top: 140px;
    transition: all .3s linear;


}

.container-filters.active{
    left: 0;

}
.filter-by-type{
    display: flex;
    flex-direction: column;

    gap: 20px;


}
/**/

.filter-by-type span{
font-weight: 700;
font-size: 22px;


}


.group-type{
    display: flex;

    gap: 10px;
    margin-left: 15px ;
}
.group-type label{

    cursor: pointer;
}

/*estilos de pokemon html*/

.container-pokemon{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.header-main-pokemon{
    margin-top: 20px;

    display: flex;
    align-items: center;
    
    position: relative;

}

.number-pokemon{
    position: absolute;
    top: -70px;
    left: 0;

    font-size: 300px;
    font-weight: 700;

    color: var(--color-primary-hover);
}

.container-img-pokemon{

    order: 2;
    flex: 1;
    padding: 25px 25px 25px 0;


    
}

.container-img-pokemon img{
    width: 100%;
}


.container-info-pokemon{

    display: flex;
    flex-direction: column;

    order: 1;
    flex: 1;
}

.container-info-pokemon h1{ 
    text-align: right;
    font-size: 50px;


    
}

.info-pokemon{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.group-info p{
    font-weight: 700;

}

/*estilos de estadisticas stats  pokemon,html*/

.container-stats{
    display: flex;
    gap:  50px;
    align-items: center;
}

.stats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.stats-group{
    display: flex;
    align-items: center;
    gap: 20px;

}

.stats-group span{
    flex: 20%;
    font-weight: 500;
    font-size: 18px;
}

.progress-bar{
    width: 100%;
    height: 30px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

